![](https://brand.infojobs.net/downloads/ij-logo_default/ij-logo-default_primary.jpg)

Explicacion de infojobs y del trabajo en general

In [15]:
import pandas as pd
import ast
import os

# Set the data directory
data_dir = os.path.join('..', 'data')

# Read the csv files
df_jobs = pd.read_csv(os.path.join(data_dir, 'jobs_dataset.csv'))
df_countries = pd.read_csv(os.path.join(data_dir, 'country_dataset.csv'))
df_provinces = pd.read_csv(os.path.join(data_dir, 'province_dataset.csv'))

In [16]:
df_jobs.head()

,id,title,province,city,link,category,contractType,subcategory,salaryMin,salaryMax,...,author,requirementMin,bold,applications,subSegment,executive,salaryDescription,multiProvince,urgent,color
0,948c2d14684cdca15045da2e35d855,Jefe de Proyecto Java / PHP (Grado IT),"{'id': 33, 'value': 'Madrid'}",Madrid,https://www.infojobs.net/madrid/jefe-proyecto-...,"{'id': 150, 'value': 'Informática y telecomuni...","{'id': 1, 'value': 'Indefinido'}","{'id': 3110, 'value': 'Gestión de proyectos'}","{'id': 420, 'value': '44.000 €'}","{'id': 440, 'value': '50.000 €'}",...,"{'id': '9b37c0dbf84572afbd6ab8a3e49678', 'priv...",¿Qué debes saber?\n\n- Metodologías ágiles: Sc...,False,0,31,True,44.000€ - 50.000€ Bruto/año,False,False,False
1,fd5278c9354779a545b820ac97cf05,Cocinero/a,"{'id': 49, 'value': 'Valencia/València'}",Bocairent,https://www.infojobs.net/bocairent/cocinero/of...,"{'id': 160, 'value': 'Turismo y restauración'}","{'id': 1, 'value': 'Indefinido'}","{'id': 3115, 'value': 'Hostelería'}","{'id': 1090, 'value': '1.300 €'}","{'id': 1130, 'value': '1.900 €'}",...,{'id': '50485249495110177105105023304515501868...,NaN,False,0,11,False,1.300€ - 1.900€ Bruto/mes,False,False,False
2,12c32368e64b2b8cac770083b49452,Odontólogo/a,"{'id': 22, 'value': 'Guadalajara'}",Guadalajara,https://www.infojobs.net/guadalajara/odontolog...,"{'id': 140, 'value': 'Sanidad y salud'}","{'id': 1, 'value': 'Indefinido'}","{'id': 3140, 'value': 'Odontología'}","{'id': 1070, 'value': '1.050 €'}","{'id': 170, 'value': '1.800 €'}",...,{'id': '98565348555048797869866023058422609649...,NaN,False,0,22,False,1.050€ - 1.800€ Bruto/mes,False,False,False
3,d8727e153b4a4db0e369fb25e49533,Camarero/a de barra,"{'id': 40, 'value': 'Pontevedra'}",A Illa de Arousa,https://www.infojobs.net/a-illa-de-arousa/cama...,"{'id': 160, 'value': 'Turismo y restauración'}","{'id': 9, 'value': 'Fijo discontinuo'}","{'id': 3115, 'value': 'Hostelería'}","{'id': 150, 'value': '1.200 €'}","{'id': 160, 'value': '1.500 €'}",...,{'id': '98485755535156658269793023115726808674...,NaN,False,0,11,False,1.200€ - 1.500€ Bruto/mes,False,False,False
4,8fba30d3694294bfaee1a6db9a2500,MECANICO EBIKES,"{'id': 41, 'value': 'Salamanca'}",Santa Marta de Tormes,https://www.infojobs.net/santa-marta-de-tormes...,"{'id': 180, 'value': 'Otros'}","{'id': 5, 'value': 'Otros contratos'}","{'id': 3123, 'value': 'Sin especificar'}","{'id': 0, 'value': ''}","{'id': 0, 'value': ''}",...,{'id': '98484955504851836578835023228061805884...,NaN,False,0,11,False,Salario no disponible,False,False,False

In [17]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59049 entries, 0 to 59048
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 59049 non-null  object
 1   title              59049 non-null  object
 2   province           59049 non-null  object
 3   city               59049 non-null  object
 4   link               59049 non-null  object
 5   category           59049 non-null  object
 6   contractType       59049 non-null  object
 7   subcategory        59049 non-null  object
 8   salaryMin          59049 non-null  object
 9   salaryMax          59049 non-null  object
 10  salaryPeriod       59049 non-null  object
 11  experienceMin      59049 non-null  object
 12  workDay            59049 non-null  object
 13  study              59049 non-null  object
 14  teleworking        55298 non-null  object
 15  published          59049 non-null  object
 16  updated            59049 non-null  object
 17  author             59049 non-null  object
 18  requirementMin     39316 non-null  object
 19  bold               59049 non-null  bool
 20  applications       59049 non-null  int64
 21  subSegment         59049 non-null  int64
 22  executive          59049 non-null  bool
 23  salaryDescription  59049 non-null  object
 24  multiProvince      59049 non-null  bool
 25  urgent             59049 non-null  bool
 26  color              59049 non-null  bool
dtypes: bool(5), int64(2), object(20)
memory usage: 10.2+ MB

In [18]:
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      204 non-null    int64
 1   value   204 non-null    object
 2   order   204 non-null    int64
 3   key     204 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.5+ KB

In [19]:
df_provinces.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944 entries, 0 to 943
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      944 non-null    int64
 1   value   944 non-null    object
 2   order   944 non-null    int64
 3   key     944 non-null    object
 4   parent  944 non-null    int64
dtypes: int64(3), object(2)
memory usage: 37.0+ KB

## Data Cleaning

In [20]:
df_jobs.duplicated().sum()

1208

In [21]:
def take_value_from_dict(x, key = 'value'):
    """
    Take the value of a key from a JSON string.

    Parameters
    ----------
    x : str
        The JSON string.

    key : str, optional
        The key of the value to take. The default is 'value'.
    
    Returns
    -------
    value : str
        The value of the key.
    """
    
    value = ast.literal_eval(x)[key]

    return value if value != '' else None

def transform_salary_float(value):
    """
    Transform a salary value to float.

    Parameters
    ----------
    value : str
        The salary value.

    Returns
    -------
    float
        The salary value as float.
    """

    value = take_value_from_dict(value)

    if value is not None:
        return float(value.replace('.', '').replace(',', '.').replace('€', '').strip())
    else:
        return value
    

df_clean = (df_jobs
 .drop_duplicates()
 .assign(
    province_id=lambda df: df.province.apply(take_value_from_dict, key='id'),
    province=lambda df: df.province.map(take_value_from_dict),
    category=lambda df: df.category.map(take_value_from_dict),
    subcategory=lambda df: df.subcategory.map(take_value_from_dict),
    contractType=lambda df: df.contractType.map(take_value_from_dict),
    salaryMin=lambda df: df.salaryMin.map(transform_salary_float),
    salaryMax=lambda df: df.salaryMax.map(transform_salary_float),
    salaryPeriod=lambda df: df.salaryPeriod.map(take_value_from_dict),
    author=lambda df: df.author.apply(lambda value: take_value_from_dict(value, key='name')),
    published = lambda df: pd.to_datetime(df.published).dt.tz_localize(None),
    updated = lambda df: pd.to_datetime(df.updated).dt.tz_localize(None)
 )
.dropna(subset=['salaryMin', 'salaryMax'])
.merge(df_provinces, how='left', left_on='province_id', right_on='id')
.merge(df_countries, how='left', left_on='parent', right_on='id')
.rename(columns={ 'value_y': 'country', 'id_x': 'job_id' })
.query('country == "España"')
.filter(
        [
            'job_id',
            'title',
            'value_y',
            'province',
            'city',
            'category',
            'subcategory',
            'contractType',
            'salaryMin',
            'salaryMax',
            'salaryPeriod',
            'author',
            'published',
            'updated'
        ])
.reset_index(drop=True)
)

In [22]:
df_clean.head()

,job_id,title,province,city,category,subcategory,contractType,salaryMin,salaryMax,salaryPeriod,author,published,updated
0,948c2d14684cdca15045da2e35d855,Jefe de Proyecto Java / PHP (Grado IT),Madrid,Madrid,Informática y telecomunicaciones,Gestión de proyectos,Indefinido,44000.0,50000.0,Bruto/año,ENTELGY - Zona Madrid,2023-06-05 21:42:02,2023-06-05 21:42:02
1,fd5278c9354779a545b820ac97cf05,Cocinero/a,Valencia/València,Bocairent,Turismo y restauración,Hostelería,Indefinido,1300.0,1900.0,Bruto/mes,Miguel Vaño Silvestre,2023-05-30 11:06:30,2023-06-05 21:37:27
2,12c32368e64b2b8cac770083b49452,Odontólogo/a,Guadalajara,Guadalajara,Sanidad y salud,Odontología,Indefinido,1050.0,1800.0,Bruto/mes,ONEVEN MEDICA SL.,2023-06-05 21:32:09,2023-06-05 21:32:09
3,d8727e153b4a4db0e369fb25e49533,Camarero/a de barra,Pontevedra,A Illa de Arousa,Turismo y restauración,Hostelería,Fijo discontinuo,1200.0,1500.0,Bruto/mes,AREOSO FUN SOCIEDAD LIMITADA.,2023-05-29 21:26:06,2023-06-05 21:30:03
4,35912f18d045949fff5fdf2883e1dd,Detective Privado Dependiente,Madrid,Madrid,"Profesiones, artes y oficios",Seguridad y vigilancia,Indefinido,1600.0,2000.0,Bruto/mes,GRUPO INVESTIBERICA SL.,2023-05-15 20:15:23,2023-06-05 21:30:03

In [23]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24297 entries, 0 to 24296
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   job_id        24297 non-null  object
 1   title         24297 non-null  object
 2   province      24297 non-null  object
 3   city          24297 non-null  object
 4   category      24297 non-null  object
 5   subcategory   24297 non-null  object
 6   contractType  24297 non-null  object
 7   salaryMin     24297 non-null  float64
 8   salaryMax     24297 non-null  float64
 9   salaryPeriod  24297 non-null  object
 10  author        24297 non-null  object
 11  published     24297 non-null  datetime64[ns]
 12  updated       24297 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(2), object(9)
memory usage: 2.4+ MB

In [24]:
df_clean.salaryPeriod.value_counts()

salaryPeriod
Bruto/año     17195
Bruto/mes      6678
Bruto/hora      424
Name: count, dtype: int64

In [25]:
def update_salary_range(df):
    """
    Update the salary range of a job offer.

    Parameters
    ----------
    df : DataFrame
        The DataFrame with the job offer.

    Returns
    -------
    df : DataFrame
        The DataFrame with the updated salary range.
    """

    if df['salaryPeriod'] == 'Bruto/mes':
        df.salaryMin = df.salaryMin * 12
        df.salaryMax = df.salaryMax * 12
    elif df.salaryPeriod == 'Bruto/día':
        df.salaryMin = df.salaryMin * 365
        df.salaryMax = df.salaryMax * 365

    return df

df_final = (df_clean
    .apply(update_salary_range, axis=1)
    .drop(columns=['salaryPeriod'])
)

In [26]:
df_final.head()

,job_id,title,province,city,category,subcategory,contractType,salaryMin,salaryMax,author,published,updated
0,948c2d14684cdca15045da2e35d855,Jefe de Proyecto Java / PHP (Grado IT),Madrid,Madrid,Informática y telecomunicaciones,Gestión de proyectos,Indefinido,44000.0,50000.0,ENTELGY - Zona Madrid,2023-06-05 21:42:02,2023-06-05 21:42:02
1,fd5278c9354779a545b820ac97cf05,Cocinero/a,Valencia/València,Bocairent,Turismo y restauración,Hostelería,Indefinido,15600.0,22800.0,Miguel Vaño Silvestre,2023-05-30 11:06:30,2023-06-05 21:37:27
2,12c32368e64b2b8cac770083b49452,Odontólogo/a,Guadalajara,Guadalajara,Sanidad y salud,Odontología,Indefinido,12600.0,21600.0,ONEVEN MEDICA SL.,2023-06-05 21:32:09,2023-06-05 21:32:09
3,d8727e153b4a4db0e369fb25e49533,Camarero/a de barra,Pontevedra,A Illa de Arousa,Turismo y restauración,Hostelería,Fijo discontinuo,14400.0,18000.0,AREOSO FUN SOCIEDAD LIMITADA.,2023-05-29 21:26:06,2023-06-05 21:30:03
4,35912f18d045949fff5fdf2883e1dd,Detective Privado Dependiente,Madrid,Madrid,"Profesiones, artes y oficios",Seguridad y vigilancia,Indefinido,19200.0,24000.0,GRUPO INVESTIBERICA SL.,2023-05-15 20:15:23,2023-06-05 21:30:03